$bg-color: #fff;

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    color: black;
    min-width: 10rem;
    border: .5px solid #cecece;
    border-radius: 4px;

    .separator {
        height: 1px;
        background-color: #cecece;
    }
}

.dropdown-menu ul {
    list-style: none;
}

.dropdown-menu ul li {
    padding: 8px 16px;
    position: relative;
    margin: 1px;
    cursor: pointer;
    transition: padding-left 0.5s ease;
    background-clip: border-box;

    &:hover {
        background-color: darken($bg-color, 2%);
        padding-left: 19px;
    }

    &:before {
        content:'\003e';
        position: absolute;
        right: 8px;
        font-size: 12px;
        color: #a6a9ad;
        opacity: 0;
        transition: all 0.25s;
        -moz-transition: all 0.25s;
        -webkit-transition: all 0.25s;
        -o-transition: all 0.25s;
        -ms-transition: all 0.25s;
    }

    &:hover:before {
        opacity: 1;
        right: 12px;
    }
}